body{
    margin: 0px;
    height: 1904;
}

#game-window{
    width: 1904px;
    height: 1000px;
}

#sky {
    height: 750px;
    background-color: aqua;
}

@keyframes pipes-gap1{
    0%{left:2000px}
    100%{left:-100px}
}

#pipes{
    padding: 0px;
    margin: 0px;
    width: 100px;
    height: 750px;
    background-color: green;
    position: relative;
    animation: pipes-gap1 3s infinite linear;
}

#gap { 
    padding: 0px;
    margin: 0px;
    width: 100px;
    height: 200px;
    background-color: aqua;
    position: relative;
    top: -500px;
    animation: pipes-gap1 3s infinite linear;
}

#chara{
    padding: 0px;
    margin: 0px;
    width: 80px;
    height: 60px;
    /* background-color: blueviolet; */
    background-image: url("https://media.tenor.com/NOErwLu4R5AAAAAM/flappy-wings.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 200px;
    left: 100px; 
    
}

#grass{
    height: 100px;
    background-image: url(https://img.freepik.com/premium-vector/green-japanese-paper-japanese-pattern_180401-2555.jpg);
}

#dirt{
    height: 100px;
    background-image: url(https://i.pinimg.com/originals/c0/ed/73/c0ed731d54377705ecd06db9ef7bbabc.jpg);
}